[submodule "deps/dynalo"]
	path = deps/dynalo
	url = https://github.com/maddouri/dynalo
[submodule "deps/asampl-ffi"]
	path = deps/asampl-ffi
	url = git@github.com:Asampl-development-team/asampl-ffi.git
